# pandas

[`pandas`](http://pandas.pydata.org) is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

With `numpy` (and `scipy`), Python is a great platform for general purpose numerical computing providing much of the functionality of, say matlab.  What is lacking in the low level array routines provided by `numpy` provides are streamlined procedures for data analysis.  `pandas` provides several key data structures that make data analysis in Python feel natural.  `pandas` is built on `numpy` (indeed, nearly every Python library targeted at scientific computing is), but instead of arrays, `pandas` uses two slightly different "fundamental" data structures: the data `Series` and the `DataFrame`.


It is customary to import `pandas` as

In [23]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

(we've also imported `Series` and `DataFrame` directly since we'll be working with those frequently.)

## Creating a DataFrame

There are several methods of `DataFrame` creation.  For the following data,

| A | B | C | D |
|---|---|---|---|
|0.38|0.78|0.95|0.91|
|0.61|0.96|0.48|0.09|
|0.47|0.82|0.84|0.16|

a `DataFrame` can by creating by dictionary, whose keys form the `DataFrame`'s header and values the `DataFrame`'s columns:

In [20]:
data = {"A": [0.38, 0.61, 0.47],
        "B": [0.78, 0.96, 0.82],
        "C": [0.95, 0.48, 0.84],
        "D": [0.91, 0.09, 0.16]}
df = DataFrame(data)
df

      A     B     C     D
0  0.38  0.78  0.95  0.91
1  0.61  0.96  0.48  0.09
2  0.47  0.82  0.84  0.16

Alternatively, a `DataFrame` can be created from a nested sequence.

In [21]:
data = [[0.38, 0.78, 0.95, 0.91],
        [0.61, 0.96, 0.48, 0.09],
        [0.47, 0.82, 0.84, 0.16]]
df = DataFrame(data)
df

      0     1     2     3
0  0.38  0.78  0.95  0.91
1  0.61  0.96  0.48  0.09
2  0.47  0.82  0.84  0.16

Default column names `0`, `1`, `2`, and `3` are used.  Alternatively, the `columns` keyword can by passed to the `DataFrame` constructor

In [22]:
data = [[0.38, 0.78, 0.95, 0.91],
        [0.61, 0.96, 0.48, 0.09],
        [0.47, 0.82, 0.84, 0.16]]
df = DataFrame(data, columns=('A', 'B', 'C', 'D'))
df

      A     B     C     D
0  0.38  0.78  0.95  0.91
1  0.61  0.96  0.48  0.09
2  0.47  0.82  0.84  0.16

The columns of the `DataFrame` need not be homogeneous in type

In [25]:
df2 = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })
df2

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

Each `Series` in `df2` has a different data type

In [27]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

Data can also be read directly from many file types.  Below, win, loss, and payroll data for major league baseball teams in 2001 are read from an excel spreadsheet (from http://powerreporting.com/files).  This data will be used for the remainder of this notebook.

In [126]:
df = pd.read_excel('aux/baseball.xls', sheetname='2001 salary v performance', index_col=0)
df

                       Won  Loss    Payroll Playoff
Team
Anaheim Angels          75    87   46568180      No
Arizona Diamondbacks    92    70   81206513     Yes
Atlanta Braves          88    74   91851687     Yes
Baltimore Orioles       63    98   72426328      No
Boston Red Sox          82    79  109558908      No
Chicago Cubs            88    74   64015833      No
Chicago White Sox       83    79   62363000      No
Cincinnati Reds         66    96   45227882      No
Cleveland Indians       91    71   91974979     Yes
Colorado Rockies        73    89   71068000      No
Detroit Tigers          66    96   49831167      No
Florida Marlins         76    86   35504167      No
Houston Astros          93    69   60382667     Yes
Kansas City Royals      65    97   35643000      No
Los Angeles Dodgers     86    76  108980952      No
Milwaukee Brewers       68    94   43089333      No
Minnesota Twins         85    77   24350000      No
Montreal Expos          68    94   34774500      No
New York Mets           82    80   93174428      No
New York Yankees        95    65  109791893     Yes
Oakland Athletics      102    60   33810750     Yes
Philadelphia Phillies   86    76   41664167      No
Pittsburgh Pirates      62   100   52698333      No
San Diego Padres        79    83   38333117      No
San Francisco Giants    90    72   63332667      No
Seattle Mariners       116    46   75652500     Yes
St. Louis Cardinals     93    69   77270855     Yes
Tampa Bay Devil Rays    62   100   54951602      No
Texas Rangers           73    89   88504421      No
Toronto Blue Jays       80    82   75798500      No

Passing `index_col=0` instructed `read_excel` to treat the first column as the `DataFrame` index, otherwise, the index would have been set to $0-n$, where $n$ is the number of data rows found in the excel table.

Tab completion for column names (as well as public attributes) is automatically enabled. In the cell below, type `df.` and [Tab]:

In [ ]:
df.

The column names `Team`, `Won`, `Loss`, and `Payroll` show up in the tab completion, as do the other methods of the `DataFrame` object.

## Viewing data

See the top and bottom rows of the `DataFrame`

In [84]:
df.head()

                      Won  Loss    Payroll Playoff
Team
Anaheim Angels         75    87   46568180      No
Arizona Diamondbacks   92    70   81206513     Yes
Atlanta Braves         88    74   91851687     Yes
Baltimore Orioles      63    98   72426328      No
Boston Red Sox         82    79  109558908      No

In [85]:
df.tail(3)

                      Won  Loss   Payroll Playoff
Team
Tampa Bay Devil Rays   62   100  54951602      No
Texas Rangers          73    89  88504421      No
Toronto Blue Jays      80    82  75798500      No

Display the index, columns, and the underlying numpy data

In [86]:
df.index

Index([       u'Anaheim Angels',  u'Arizona Diamondbacks',
              u'Atlanta Braves',     u'Baltimore Orioles',
              u'Boston Red Sox',          u'Chicago Cubs',
           u'Chicago White Sox',       u'Cincinnati Reds',
           u'Cleveland Indians',      u'Colorado Rockies',
              u'Detroit Tigers',       u'Florida Marlins',
              u'Houston Astros',    u'Kansas City Royals',
         u'Los Angeles Dodgers',     u'Milwaukee Brewers',
             u'Minnesota Twins',        u'Montreal Expos',
               u'New York Mets',      u'New York Yankees',
           u'Oakland Athletics', u'Philadelphia Phillies',
          u'Pittsburgh Pirates',      u'San Diego Padres',
        u'San Francisco Giants',      u'Seattle Mariners',
         u'St. Louis Cardinals',  u'Tampa Bay Devil Rays',
               u'Texas Rangers',     u'Toronto Blue Jays'],
      dtype='object', name=u'Team')

In [87]:
df.columns

Index([u'Won', u'Loss', u'Payroll', u'Playoff'], dtype='object')

In [88]:
df.values

array([[75, 87, 46568180, u'No'],
       [92, 70, 81206513, u'Yes'],
       [88, 74, 91851687, u'Yes'],
       [63, 98, 72426328, u'No'],
       [82, 79, 109558908, u'No'],
       [88, 74, 64015833, u'No'],
       [83, 79, 62363000, u'No'],
       [66, 96, 45227882, u'No'],
       [91, 71, 91974979, u'Yes'],
       [73, 89, 71068000, u'No'],
       [66, 96, 49831167, u'No'],
       [76, 86, 35504167, u'No'],
       [93, 69, 60382667, u'Yes'],
       [65, 97, 35643000, u'No'],
       [86, 76, 108980952, u'No'],
       [68, 94, 43089333, u'No'],
       [85, 77, 24350000, u'No'],
       [68, 94, 34774500, u'No'],
       [82, 80, 93174428, u'No'],
       [95, 65, 109791893, u'Yes'],
       [102, 60, 33810750, u'Yes'],
       [86, 76, 41664167, u'No'],
       [62, 100, 52698333, u'No'],
       [79, 83, 38333117, u'No'],
       [90, 72, 63332667, u'No'],
       [116, 46, 75652500, u'Yes'],
       [93, 69, 77270855, u'Yes'],
       [62, 100, 54951602, u'No'],
       [73, 89, 88504421, u'No'],
       [80, 82, 75798500, u'No']], dtype=object)

Show a quick statistical summary of the data

In [89]:
df.describe()

              Won        Loss       Payroll
count   30.000000   30.000000  3.000000e+01
mean    80.933333   80.933333  6.446001e+07
std     13.006453   13.043517  2.470449e+07
min     62.000000   46.000000  2.435000e+07
25%     69.250000   72.500000  4.362397e+07
50%     82.000000   79.500000  6.284783e+07
75%     89.500000   92.750000  8.022260e+07
max    116.000000  100.000000  1.097919e+08

`describe` is smart enough to operate only on numerical data

Sort by an axis

In [90]:
df.sort_index(axis=1, ascending=False)

                       Won Playoff    Payroll  Loss
Team
Anaheim Angels          75      No   46568180    87
Arizona Diamondbacks    92     Yes   81206513    70
Atlanta Braves          88     Yes   91851687    74
Baltimore Orioles       63      No   72426328    98
Boston Red Sox          82      No  109558908    79
Chicago Cubs            88      No   64015833    74
Chicago White Sox       83      No   62363000    79
Cincinnati Reds         66      No   45227882    96
Cleveland Indians       91     Yes   91974979    71
Colorado Rockies        73      No   71068000    89
Detroit Tigers          66      No   49831167    96
Florida Marlins         76      No   35504167    86
Houston Astros          93     Yes   60382667    69
Kansas City Royals      65      No   35643000    97
Los Angeles Dodgers     86      No  108980952    76
Milwaukee Brewers       68      No   43089333    94
Minnesota Twins         85      No   24350000    77
Montreal Expos          68      No   34774500    94
New York Mets           82      No   93174428    80
New York Yankees        95     Yes  109791893    65
Oakland Athletics      102     Yes   33810750    60
Philadelphia Phillies   86      No   41664167    76
Pittsburgh Pirates      62      No   52698333   100
San Diego Padres        79      No   38333117    83
San Francisco Giants    90      No   63332667    72
Seattle Mariners       116     Yes   75652500    46
St. Louis Cardinals     93     Yes   77270855    69
Tampa Bay Devil Rays    62      No   54951602   100
Texas Rangers           73      No   88504421    89
Toronto Blue Jays       80      No   75798500    82

Sorting by values

In [91]:
df.sort(columns='Payroll')

                       Won  Loss    Payroll Playoff
Team
Minnesota Twins         85    77   24350000      No
Oakland Athletics      102    60   33810750     Yes
Montreal Expos          68    94   34774500      No
Florida Marlins         76    86   35504167      No
Kansas City Royals      65    97   35643000      No
San Diego Padres        79    83   38333117      No
Philadelphia Phillies   86    76   41664167      No
Milwaukee Brewers       68    94   43089333      No
Cincinnati Reds         66    96   45227882      No
Anaheim Angels          75    87   46568180      No
Detroit Tigers          66    96   49831167      No
Pittsburgh Pirates      62   100   52698333      No
Tampa Bay Devil Rays    62   100   54951602      No
Houston Astros          93    69   60382667     Yes
Chicago White Sox       83    79   62363000      No
San Francisco Giants    90    72   63332667      No
Chicago Cubs            88    74   64015833      No
Colorado Rockies        73    89   71068000      No
Baltimore Orioles       63    98   72426328      No
Seattle Mariners       116    46   75652500     Yes
Toronto Blue Jays       80    82   75798500      No
St. Louis Cardinals     93    69   77270855     Yes
Arizona Diamondbacks    92    70   81206513     Yes
Texas Rangers           73    89   88504421      No
Atlanta Braves          88    74   91851687     Yes
Cleveland Indians       91    71   91974979     Yes
New York Mets           82    80   93174428      No
Los Angeles Dodgers     86    76  108980952      No
Boston Red Sox          82    79  109558908      No
New York Yankees        95    65  109791893     Yes

Not surprisingly, the Boston Red Sox and New York Yankes had the highest payrolls.

## Data selection

Selecting a single column, which yields a `Series`, equivalent to `df.Won`

In [92]:
df['Won']

Team
Anaheim Angels            75
Arizona Diamondbacks      92
Atlanta Braves            88
Baltimore Orioles         63
Boston Red Sox            82
Chicago Cubs              88
Chicago White Sox         83
Cincinnati Reds           66
Cleveland Indians         91
Colorado Rockies          73
Detroit Tigers            66
Florida Marlins           76
Houston Astros            93
Kansas City Royals        65
Los Angeles Dodgers       86
Milwaukee Brewers         68
Minnesota Twins           85
Montreal Expos            68
New York Mets             82
New York Yankees          95
Oakland Athletics        102
Philadelphia Phillies     86
Pittsburgh Pirates        62
San Diego Padres          79
San Francisco Giants      90
Seattle Mariners         116
St. Louis Cardinals       93
Tampa Bay Devil Rays      62
Texas Rangers             73
Toronto Blue Jays         80
Name: Won, dtype: int64

Selecting via [], which slices the rows.

In [93]:
df[0:3]

                      Won  Loss   Payroll Playoff
Team
Anaheim Angels         75    87  46568180      No
Arizona Diamondbacks   92    70  81206513     Yes
Atlanta Braves         88    74  91851687     Yes

### Selection by label

For getting a cross section using a label

In [94]:
df.loc['Anaheim Angels', ['Won', 'Loss']]

Won     75
Loss    87
Name: Anaheim Angels, dtype: object

Selecting on a multi-axis by label

In [95]:
df.loc[:, ['Won', 'Loss']]

                       Won  Loss
Team
Anaheim Angels          75    87
Arizona Diamondbacks    92    70
Atlanta Braves          88    74
Baltimore Orioles       63    98
Boston Red Sox          82    79
Chicago Cubs            88    74
Chicago White Sox       83    79
Cincinnati Reds         66    96
Cleveland Indians       91    71
Colorado Rockies        73    89
Detroit Tigers          66    96
Florida Marlins         76    86
Houston Astros          93    69
Kansas City Royals      65    97
Los Angeles Dodgers     86    76
Milwaukee Brewers       68    94
Minnesota Twins         85    77
Montreal Expos          68    94
New York Mets           82    80
New York Yankees        95    65
Oakland Athletics      102    60
Philadelphia Phillies   86    76
Pittsburgh Pirates      62   100
San Diego Padres        79    83
San Francisco Giants    90    72
Seattle Mariners       116    46
St. Louis Cardinals     93    69
Tampa Bay Devil Rays    62   100
Texas Rangers           73    89
Toronto Blue Jays       80    82

Showing label slicing, both endpoints are included

In [96]:
df.loc['Anaheim Angels':'Chicago Cubs', ['Won']]

                      Won
Team
Anaheim Angels         75
Arizona Diamondbacks   92
Atlanta Braves         88
Baltimore Orioles      63
Boston Red Sox         82
Chicago Cubs           88

Reduction in the dimensions of the returned object

In [97]:
df.loc['Baltimore Orioles', ['Won', 'Loss']]

Won     63
Loss    98
Name: Baltimore Orioles, dtype: object

For getting fast access to a scalar

In [98]:
df.at['Atlanta Braves', 'Won']

88

### Selection by position

Select via the position of the passed integers

In [99]:
df.iloc[3]

Won              63
Loss             98
Payroll    72426328
Playoff          No
Name: Baltimore Orioles, dtype: object

By integer slices, acting similar to numpy/python

In [100]:
df.iloc[1:5, 0:2]

                      Won  Loss
Team
Arizona Diamondbacks   92    70
Atlanta Braves         88    74
Baltimore Orioles      63    98
Boston Red Sox         82    79

By lists of integer position locations, similar to the numpy/python style

In [101]:
df.iloc[[0, 2, 9], [0, 3]]

                  Won Playoff
Team
Anaheim Angels     75      No
Atlanta Braves     88     Yes
Colorado Rockies   73      No

For slicing rows explicitly

In [102]:
df.iloc[1:3, :]

                      Won  Loss   Payroll Playoff
Team
Arizona Diamondbacks   92    70  81206513     Yes
Atlanta Braves         88    74  91851687     Yes

For slicing columns explicitly

In [103]:
df.iloc[:, 1:3]

                       Loss    Payroll
Team
Anaheim Angels           87   46568180
Arizona Diamondbacks     70   81206513
Atlanta Braves           74   91851687
Baltimore Orioles        98   72426328
Boston Red Sox           79  109558908
Chicago Cubs             74   64015833
Chicago White Sox        79   62363000
Cincinnati Reds          96   45227882
Cleveland Indians        71   91974979
Colorado Rockies         89   71068000
Detroit Tigers           96   49831167
Florida Marlins          86   35504167
Houston Astros           69   60382667
Kansas City Royals       97   35643000
Los Angeles Dodgers      76  108980952
Milwaukee Brewers        94   43089333
Minnesota Twins          77   24350000
Montreal Expos           94   34774500
New York Mets            80   93174428
New York Yankees         65  109791893
Oakland Athletics        60   33810750
Philadelphia Phillies    76   41664167
Pittsburgh Pirates      100   52698333
San Diego Padres         83   38333117
San Francisco Giants     72   63332667
Seattle Mariners         46   75652500
St. Louis Cardinals      69   77270855
Tampa Bay Devil Rays    100   54951602
Texas Rangers            89   88504421
Toronto Blue Jays        82   75798500

For getting a value explicitly

In [104]:
df.iloc[5,1]

74

For getting fast access to a scalar (equiv to the prior method)

In [75]:
df.iat[5,1]

74

### Boolean indexing

Using a single columns values to select data.

In [105]:
df[df.Payroll > 100000000]

                     Won  Loss    Payroll Playoff
Team
Boston Red Sox        82    79  109558908      No
Los Angeles Dodgers   86    76  108980952      No
New York Yankees      95    65  109791893     Yes

(apparently, $100,000,000 can't always buy you a playoff spot!)

Boolean indexing supports multiple conditions using the elementwise and `&` and or `|` operators:

In [106]:
df[(df.Payroll < 100000000) & (df.Playoff == 'Yes')]

                      Won  Loss   Payroll Playoff
Team
Arizona Diamondbacks   92    70  81206513     Yes
Atlanta Braves         88    74  91851687     Yes
Cleveland Indians      91    71  91974979     Yes
Houston Astros         93    69  60382667     Yes
Oakland Athletics     102    60  33810750     Yes
Seattle Mariners      116    46  75652500     Yes
St. Louis Cardinals    93    69  77270855     Yes

The `isin()` method can be used for filtering.  Here, the history of World Series winners from 1903 is read in and we filter teams based on whether or not they have won a world series

In [119]:
df2 = pd.read_excel('aux/baseball.xls', sheetname='world series history', index_col=0)
df[df.index.isin(df2['World Series Champ'])]

                       Won  Loss    Payroll Playoff
Team
Arizona Diamondbacks    92    70   81206513     Yes
Atlanta Braves          88    74   91851687     Yes
Baltimore Orioles       63    98   72426328      No
Boston Red Sox          82    79  109558908      No
Chicago Cubs            88    74   64015833      No
Chicago White Sox       83    79   62363000      No
Cincinnati Reds         66    96   45227882      No
Cleveland Indians       91    71   91974979     Yes
Detroit Tigers          66    96   49831167      No
Florida Marlins         76    86   35504167      No
Kansas City Royals      65    97   35643000      No
Los Angeles Dodgers     86    76  108980952      No
Minnesota Twins         85    77   24350000      No
New York Mets           82    80   93174428      No
New York Yankees        95    65  109791893     Yes
Oakland Athletics      102    60   33810750     Yes
Philadelphia Phillies   86    76   41664167      No
Pittsburgh Pirates      62   100   52698333      No
San Francisco Giants    90    72   63332667      No
St. Louis Cardinals     93    69   77270855     Yes
Toronto Blue Jays       80    82   75798500      No

The `~` operator is the bitwise `not` operator:

In [121]:
df[~df.index.isin(df2['World Series Champ'])]

                      Won  Loss   Payroll Playoff
Team
Anaheim Angels         75    87  46568180      No
Colorado Rockies       73    89  71068000      No
Houston Astros         93    69  60382667     Yes
Milwaukee Brewers      68    94  43089333      No
Montreal Expos         68    94  34774500      No
San Diego Padres       79    83  38333117      No
Seattle Mariners      116    46  75652500     Yes
Tampa Bay Devil Rays   62   100  54951602      No
Texas Rangers          73    89  88504421      No

### Setting

Setting by assigning with a numpy array

Here, the `Playoff` column is converted to a boolean from the given 'Yes' and 'No' strings.

In [127]:
df['Playoff'] = np.where(df['Playoff'] == 'No', False, True)
df

In [128]:
df.dtypes

Won        int64
Loss       int64
Payroll    int64
Playoff     bool
dtype: object

In [140]:
df['Win'] = df['Won'] / (df['Won'] + df['Loss'])
df['Cost per win'] = df['Payroll'] / df['Won']

Setting a new column automatically aligns the data by the indexes

In [139]:
df['Payroll rank'] = df['Payroll'].rank(ascending=False)
df['Win rank'] = df['Win'].rank(ascending=False)
df['Cost rank'] = df['Cost per win'].rank(ascending=False)
df

,Won,Loss,Payroll,Playoff,Win,Cost per win,Payroll rank,Win rank,Cost rank
Team,,,,,,,,,
Anaheim Angels,75,87,46568180,False,0.462963,620909.066667,21,20.0,23
Arizona Diamondbacks,92,70,81206513,True,0.567901,882679.489130,8,6.0,12
Atlanta Braves,88,74,91851687,True,0.543210,1043769.170455,6,9.5,7
Baltimore Orioles,63,98,72426328,False,0.391304,1149624.253968,12,28.0,5
Boston Red Sox,82,79,109558908,False,0.509317,1336084.243902,2,15.0,1
Chicago Cubs,88,74,64015833,False,0.543210,727452.647727,14,9.5,17
Chicago White Sox,83,79,62363000,False,0.512346,751361.445783,16,14.0,16
Cincinnati Reds,66,96,45227882,False,0.407407,685270.939394,22,25.5,19
Cleveland Indians,91,71,91974979,True,0.561728,1010714.054945,5,7.0,8
Colorado Rockies,73,89,71068000,False,0.450617,973534.246575,13,21.5,9
Detroit Tigers,66,96,49831167,False,0.407407,755017.681818,20,25.5,15
Florida Marlins,76,86,35504167,False,0.469136,467160.092105,27,19.0,28
Houston Astros,93,69,60382667,True,0.574074,649275.989247,17,4.5,21
Kansas City Royals,65,97,35643000,False,0.401235,548353.846154,26,27.0,24
Los Angeles Dodgers,86,76,108980952,False,0.530864,1267220.372093,3,11.5,2
Milwaukee Brewers,68,94,43089333,False,0.419753,633666.661765,23,23.5,22
Minnesota Twins,85,77,24350000,False,0.524691,286470.588235,30,13.0,30
Montreal Expos,68,94,34774500,False,0.419753,511389.705882,28,23.5,25
New York Mets,82,80,93174428,False,0.506173,1136273.512195,4,16.0,6
New York Yankees,95,65,109791893,True,0.593750,1155704.136842,1,3.0,4
Oakland Athletics,102,60,33810750,True,0.629630,331477.941176,29,2.0,29
Philadelphia Phillies,86,76,41664167,False,0.530864,484467.058140,24,11.5,27
Pittsburgh Pirates,62,100,52698333,False,0.382716,849973.112903,19,29.5,13
San Diego Padres,79,83,38333117,False,0.487654,485229.329114,25,18.0,26
San Francisco Giants,90,72,63332667,False,0.555556,703696.300000,15,8.0,18
Seattle Mariners,116,46,75652500,True,0.716049,652176.724138,11,1.0,20
St. Louis Cardinals,93,69,77270855,True,0.574074,830869.408602,9,4.5,14
Tampa Bay Devil Rays,62,100,54951602,False,0.382716,886316.161290,18,29.5,11
Texas Rangers,73,89,88504421,False,0.450617,1212389.328767,7,21.5,3
Toronto Blue Jays,80,82,75798500,False,0.493827,947481.250000,10,17.0,10

## Operations

### Statistics

Operations in general exclude missing data.

Performing a descriptive statistic

In [144]:
df[['Payroll', 'Cost per win']].mean()

Payroll         64460010.966667
Cost per win      799200.291967
dtype: float64

Operations can be performed on the other axis

In [130]:
df.mean(1)

Team
Anaheim Angels           11642085.50
Arizona Diamondbacks     20301669.00
Atlanta Braves           22962962.50
Baltimore Orioles        18106622.25
Boston Red Sox           27389767.25
Chicago Cubs             16003998.75
Chicago White Sox        15590790.50
Cincinnati Reds          11307011.00
Cleveland Indians        22993785.50
Colorado Rockies         17767040.50
Detroit Tigers           12457832.25
Florida Marlins           8876082.25
Houston Astros           15095707.50
Kansas City Royals        8910790.50
Los Angeles Dodgers      27245278.50
Milwaukee Brewers        10772373.75
Minnesota Twins           6087540.50
Montreal Expos            8693665.50
New York Mets            23293647.50
New York Yankees         27448013.50
Oakland Athletics         8452728.25
Philadelphia Phillies    10416082.25
Pittsburgh Pirates       13174623.75
San Diego Padres          9583319.75
San Francisco Giants     15833207.25
Seattle Mariners         18913165.75
St. Louis Cardinals      19317754.50
Tampa Bay Devil Rays     13737941.00
Texas Rangers            22126145.75
Toronto Blue Jays        18949665.50
dtype: float64

Though, in this example the meaning of the result is unclear.

## Grouping

By group by, `pandas` is referring to a process involving one or more of the following steps

- Splitting the data into groups based on some criteria
- Applying a function to each group independently
- Combining the results into a data structure

Grouping and then applying a function sum to the resulting groups.

In [148]:
df.groupby('Playoff').mean()

,Won,Loss,Payroll,Win,Cost per win,Payroll rank,Win rank,Cost rank
Playoff,,,,,,,,
False,75.363636,86.545455,59629931.136364,0.465460,791788.265658,17.227273,19.431818,15.909091
True,96.250000,65.500000,77742730.500000,0.595052,819583.364317,10.750000,4.687500,14.375000

In [165]:
def func(x):
    return x['Payroll'].mean()
df.groupby('Playoff').apply(func)

Playoff
False    59629931.136364
True     77742730.500000
dtype: float64

## Writing data to a file

### csv

In [149]:
df.to_csv('aux/foo.csv')

In [163]:
df1 = pd.read_csv('aux/foo.csv', index_col=0)
df1

,Won,Loss,Payroll,Playoff,Win,Cost per win,Payroll rank,Win rank,Cost rank
Team,,,,,,,,,
Anaheim Angels,75,87,46568180,False,0.462963,620909.066667,21,20.0,23
Arizona Diamondbacks,92,70,81206513,True,0.567901,882679.489130,8,6.0,12
Atlanta Braves,88,74,91851687,True,0.543210,1043769.170450,6,9.5,7
Baltimore Orioles,63,98,72426328,False,0.391304,1149624.253970,12,28.0,5
Boston Red Sox,82,79,109558908,False,0.509317,1336084.243900,2,15.0,1
Chicago Cubs,88,74,64015833,False,0.543210,727452.647727,14,9.5,17
Chicago White Sox,83,79,62363000,False,0.512346,751361.445783,16,14.0,16
Cincinnati Reds,66,96,45227882,False,0.407407,685270.939394,22,25.5,19
Cleveland Indians,91,71,91974979,True,0.561728,1010714.054950,5,7.0,8
Colorado Rockies,73,89,71068000,False,0.450617,973534.246575,13,21.5,9
Detroit Tigers,66,96,49831167,False,0.407407,755017.681818,20,25.5,15
Florida Marlins,76,86,35504167,False,0.469136,467160.092105,27,19.0,28
Houston Astros,93,69,60382667,True,0.574074,649275.989247,17,4.5,21
Kansas City Royals,65,97,35643000,False,0.401235,548353.846154,26,27.0,24
Los Angeles Dodgers,86,76,108980952,False,0.530864,1267220.372090,3,11.5,2
Milwaukee Brewers,68,94,43089333,False,0.419753,633666.661765,23,23.5,22
Minnesota Twins,85,77,24350000,False,0.524691,286470.588235,30,13.0,30
Montreal Expos,68,94,34774500,False,0.419753,511389.705882,28,23.5,25
New York Mets,82,80,93174428,False,0.506173,1136273.512200,4,16.0,6
New York Yankees,95,65,109791893,True,0.593750,1155704.136840,1,3.0,4
Oakland Athletics,102,60,33810750,True,0.629630,331477.941176,29,2.0,29
Philadelphia Phillies,86,76,41664167,False,0.530864,484467.058140,24,11.5,27
Pittsburgh Pirates,62,100,52698333,False,0.382716,849973.112903,19,29.5,13
San Diego Padres,79,83,38333117,False,0.487654,485229.329114,25,18.0,26
San Francisco Giants,90,72,63332667,False,0.555556,703696.300000,15,8.0,18
Seattle Mariners,116,46,75652500,True,0.716049,652176.724138,11,1.0,20
St. Louis Cardinals,93,69,77270855,True,0.574074,830869.408602,9,4.5,14
Tampa Bay Devil Rays,62,100,54951602,False,0.382716,886316.161290,18,29.5,11
Texas Rangers,73,89,88504421,False,0.450617,1212389.328770,7,21.5,3
Toronto Blue Jays,80,82,75798500,False,0.493827,947481.250000,10,17.0,10

### Excel

In [156]:
df.to_excel('aux/foo.xlsx', sheet_name='Sheet1', index_label='Team')

In [162]:
df1 = pd.read_excel('aux/foo.xlsx', 'Sheet1')
df1

,Won,Loss,Payroll,Playoff,Win,Cost per win,Payroll rank,Win rank,Cost rank
Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Anaheim Angels,75,87,46568180,0,0.462963,620909.066667,21,20.0,23
Arizona Diamondbacks,92,70,81206513,1,0.567901,882679.489130,8,6.0,12
Atlanta Braves,88,74,91851687,1,0.543210,1043769.170455,6,9.5,7
Baltimore Orioles,63,98,72426328,0,0.391304,1149624.253968,12,28.0,5
Boston Red Sox,82,79,109558908,0,0.509317,1336084.243902,2,15.0,1
Chicago Cubs,88,74,64015833,0,0.543210,727452.647727,14,9.5,17
Chicago White Sox,83,79,62363000,0,0.512346,751361.445783,16,14.0,16
Cincinnati Reds,66,96,45227882,0,0.407407,685270.939394,22,25.5,19
Cleveland Indians,91,71,91974979,1,0.561728,1010714.054945,5,7.0,8
Colorado Rockies,73,89,71068000,0,0.450617,973534.246575,13,21.5,9
Detroit Tigers,66,96,49831167,0,0.407407,755017.681818,20,25.5,15
Florida Marlins,76,86,35504167,0,0.469136,467160.092105,27,19.0,28
Houston Astros,93,69,60382667,1,0.574074,649275.989247,17,4.5,21
Kansas City Royals,65,97,35643000,0,0.401235,548353.846154,26,27.0,24
Los Angeles Dodgers,86,76,108980952,0,0.530864,1267220.372093,3,11.5,2
Milwaukee Brewers,68,94,43089333,0,0.419753,633666.661765,23,23.5,22
Minnesota Twins,85,77,24350000,0,0.524691,286470.588235,30,13.0,30
Montreal Expos,68,94,34774500,0,0.419753,511389.705882,28,23.5,25
New York Mets,82,80,93174428,0,0.506173,1136273.512195,4,16.0,6
New York Yankees,95,65,109791893,1,0.593750,1155704.136842,1,3.0,4
Oakland Athletics,102,60,33810750,1,0.629630,331477.941176,29,2.0,29
Philadelphia Phillies,86,76,41664167,0,0.530864,484467.058140,24,11.5,27
Pittsburgh Pirates,62,100,52698333,0,0.382716,849973.112903,19,29.5,13
San Diego Padres,79,83,38333117,0,0.487654,485229.329114,25,18.0,26
San Francisco Giants,90,72,63332667,0,0.555556,703696.300000,15,8.0,18
Seattle Mariners,116,46,75652500,1,0.716049,652176.724138,11,1.0,20
St. Louis Cardinals,93,69,77270855,1,0.574074,830869.408602,9,4.5,14
Tampa Bay Devil Rays,62,100,54951602,0,0.382716,886316.161290,18,29.5,11
Texas Rangers,73,89,88504421,0,0.450617,1212389.328767,7,21.5,3
Toronto Blue Jays,80,82,75798500,0,0.493827,947481.250000,10,17.0,10

The `to_excel()` method does not seem to handle the index properly so that when the sheet is read it is not consistent with the original `DataFrame`.  The `to_csv()` method seems to handle it correctly.